{% extends 'base.html' %}

{% block extra_head %}
<style type="text/css">
    .form-signin {
        max-width:300px;
    }
    .form-signup {
        max-width:400px;
    }
    .form-sign {
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fafafa;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        box-shadow: 0 1px 2px rgba(0,0,0,.05);
    }
    .form-sign .form-sign-heading {
        margin-bottom: 10px;
    }
    .form-sign-heading {
        margin-top:0;
        margin: auto;
        font-size: 30px;
        padding: 14px 10px;
        vertical-align: middle;
    }
    .form-sign input[type="text"],.form-sign input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
    }
    .form-sign .google {
        padding: 10px 0 15px 0;
        margin:auto;
    }
    .form-sign p {
        text-align:center;
    }
    .google {
        width:200px;
        margin:auto;
    }

    </style>
{% endblock %}
