{% extends "settings.html" %}

{% load bootstrap_toolkit %}
{% block head_title %}Set Password{% endblock %}

{% block settings %}
    <h1>Set Password</h1>
    
    <form method="POST" action="" class="password_set">
        {% csrf_token %}
        <fieldset>
            {{ password_set_form|bootstrap:'horizontal' }}
             <div class="buttonHolder">
                 <input class="btn-btn-primary" type="submit" name="action" value="Set Password"/>
            </div>
        </fieldset>
    </form>
{% endblock %}
