{% extends 'account/base.html' %}

{% load url from future %}
{% load account %}
{% load socialaccount %}
{% load bootstrap_toolkit %}

{% block head_title %}Signup - CollegeDiveIn{% endblock %}

{% block page_title %}Sign up{% endblock %}

{% block content %}
<div class="container form-signup form-sign">
    {% if user.is_authenticated %}
        {% include 'account/snippets/already_logged_in.html' %}
    {% else %}
        <div class="row google">
        <a href="{% url 'socialaccount_signup' %}" class="btn btn-large btn-block"><img src="{{ STATIC_URL }}img/google-login.png" class="soc-login-icon"> Signup with Google</a>
        </div>
        <hr />
        <div class="row">
            <p class="lead"><strong>or Sign up here</strong></p>

        <form class="form-horizontal" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form|as_bootstrap }}
            <input type="hidden" name="confirmation_key" id="id_confirmation_key" />
            <button class="btn btn-large btn-primary pull-right" type="submit">Sign Up</button>
        </form>
    </div>
        <hr />
    <div class="row clearfix">
        <p>Already have an account? <a class="btn btn-small" href="{% url 'account_login' %}">Sign in</a></p>
    </div>
    {% endif %}
</div>
{% endblock %}
