{% extends "event/base.html" %}

{% block page_title %}Events{% endblock %}

{% block event_block %}
{% for event in event_list %}
    <div class="span4 single-event">
        <img src="{{ STATIC_URL }}img/kritika.jpg" alt="{{ event.name }} image" class="event-img" />
        <h2><a href="{{ event.get_absolute_url }}">{{ event.name}}</a></h2>
        <p>{{ event.description }}</p>
        <a class="btn btn-small pull-right" href="{{ event.get_absolute_url }}">More <small>>></small></a>
    </div>
{% endfor %}
{% endblock %}
