{% extends "socialaccount/base.html" %}

{% block head_title %}Signup{% endblock %}

{% block content %}
<div class="container form-signup form-sign">
    <h2>Sign Up</h2>
    <p>You are about to use your Google account to login. As a final step, please complete the following form:</p>
    <form class="signup" id="signup_form" method="post" action="">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button type="submit">Sign Up</button>
    </form>
</div>
{% endblock %}


