{% extends 'base.html'%}

{% load url from future %}
{% load account %}

{% block head_title %}Sign In - CollegeDiveIn{% endblock %}

{% block extra_head %}
<style type="text/css">
    .form-sign {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        box-shadow: 0 1px 2px rgba(0,0,0,.05);
    }
    .form-sign .form-sign-heading {
        margin-bottom: 10px;
    }
    .form-sign input[type="text"],.form-sign input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
    }
    </style>
{% endblock %}

{% block content %}
    <div class="container form-sign">
        <form method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            <h2 class="form-sign-heading">Sign In</h2>
            {% if not user.is_authenticated %}
            {% if socialaccount.providers %}
            <p class="lead">Sign in with your Google account:</p>
            <a href="{" class="btn btn-primary"></a>
            <input type="text" class="input-block-level" placeholder="Email Address" name="email" />
            <input type="password" class="input-block-level" placeholder="Password" name="password1" />
            <input type="password" class="input-block-level" placeholder="Password" name="password2" />
            <input type="hidden" name="confirmation_key" id="id_confirmation_key" />
            <button class="btn btn-large btn-primary" type="submit">SignUp</button>
        </form>
        <div class="row">
            <p>Alredy have an account? <a href="{% url 'account_login' %}">Sign in</a></p>
        </div>
        {% endif %}
    </div>

{% endblock %}
