{% load url from future %}
{% load account %}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block head_title %}CollegeDiveIn{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" media="screen">
    <style>
        body {
            padding-top: 20px;
            padding-bottom: 30px;
        }
        .page-title {
            padding: 10px;
            text-align: center;
            line-height: 30px;
        }
    </style>
    {% block extra_head %}
    {% endblock %}
</head>
<body>
{% block body %}
<div class="container">

<div class="header">
    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <a href="/" class="brand">CollegeDiveIn</a>
            <ul class="nav pull-right">
                <li><a href="/"><i class="icon-home icon-white"></i> Home</a></li>
                <li class="divider-vertical"></li>
                <li><a href="{% url 'event_all' %}"><i class="icon-camera icon-white"></i> Events</a></li>
                <li class="divider-vertical"></li>
                <li><a href="/college/"><i class="icon-book icon-white"></i> Colleges</a></li>
                <li class="divider-vertical"></li>
                {% if not user.is_authenticated %}
                    <li><a href="{% url 'account_login' %}"><i class="icon-download icon-white"></i> Sign In</a></li>
                    <li class="divider-vertical"></li>
                    <li><a href="{% url 'account_signup' %}"><i class="icon-download-alt icon-white"></i> Sign Up</a></li>
                {% endif %}
                {% if user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user icon-white"></i> {{ user.first_name }}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'account_profile' %}"><i class="icon-picture icon-blue"></i> My Profile</a></li>
                    <li><a href="#"><i class="icon-tasks icon-blue"></i> My Events</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'account_settings' %}"><i class="icon-wrench icon-blue"></i> Settings</a></li>
                        <li><a href="{% url 'account_logout' %}"><i class="icon-off icon-blue"></i> Sign Out</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <h1 class="page-title">{% block page_title %}{% endblock %}</h1>
</div>

{% block messages %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">
        <button type="button" class="close" data-dismiss="alert" >x</button>
        {{ message }}
    </div>
    {% endfor %}
{% endif %}
{% endblock %}

<div class="main-content container">
    {% block content %}
    {% endblock %}
</div>
<div class="footer row">
    <div class="span3">
        <p>Loren ispum is the text used when we have nothing to write. We are just testing the functionality</p>
    </div>
    <div class="span3">
        <p>Loren ispum is the text used when we have nothing to write. We are just testing the functionality</p>
    </div>
    <div class="span3">
        <p>Loren ispum is the text used when we have nothing to write. We are just testing the functionality</p>
    </div>
</div>
</div>
{% endblock %}
<script src="{{ STATIC_URL }}js/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
{% block extra_js %}
{% endblock %}
</body>
</html>
