{% extends "base.html" %}
{% load url from future %}
{% load bootstrap_toolkit %}
{% load gravatar %}

{% block page_title %}Settings{% endblock %}

{% block sub_nav %}
<div class="navbar navbar-static-top">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
                <li><a href="{% url 'account_settings' %}">Change Profile</a></li>
                <li><a href="{% url 'account_email' %}">Change Email</a></li>
                <li><a href="{% url 'account_change_password' %}">Change Password</a></li>
                <li><a href="{% url 'socialaccount_connections' %}">Social Accounts</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="span3"><a href="http://gravatar.com/emails/"><img src="{% gravatar_url user.email %}" height="200" alt="user.firstname" /></a></div>
    <div class="offset1 span5">
    {% block settings %}
        <h3>Change your Profile Details</h3>
        <form method="post" action="">
            {% csrf_token %}
            {{ form1|as_bootstrap:'horizontal' }}
            {{ form2|as_bootstrap:'horizontal' }}
            <button class="btn btn-primary" type="submit">Save</button>
        </form>
    {% endblock %}
    </div>
{% endblock %}
